$font-stack: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-face {
	font-family: proxima_nova;
	src: url(/media/proxima_nova_thin_1.eot);
	src: url(/media/proxima_nova_thin_1.eot?#iefix) format('embedded-opentype'), url(/media/proxima_nova_thin_1.woff) format('woff'), url(/media/proxima_nova_thin_1.ttf) format('truetype');
	font-weight: 100;
	font-style: normal
}
@font-face {
	font-family: proxima_nova;
	src: url(/media/proxima_nova_regular_1.eot);
	src: url(/media/proxima_nova_regular_1.eot?#iefix) format('embedded-opentype'), url(/media/proxima_nova_regular_1.woff) format('woff'), url(/media/proxima_nova_regular_1.ttf) format('truetype');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: proxima_nova;
	src: url(/media/proxima_nova_semibold_1.eot);
	src: url(/media/proxima_nova_semibold_1.eot?#iefix) format('embedded-opentype'), url(/media/proxima_nova_semibold_1.woff) format('woff'), url(/media/proxima_nova_semibold_1.ttf) format('truetype');
	font-weight: 600;
	font-style: normal
}

