$color: #88898c;

@import 'fonts';
@import 'scrollbar';
@import 'spoticon';

body { font-family: $font-stack; font-size: 14px; line-height: 19px; color: $color; background-color: #121314; }
body { min-width: 610px; padding: 0; }
a {color: #dfe0e6;text-decoration: none;cursor: pointer;border-bottom: 1px solid transparent;}
a:focus:not(.btn), a:hover:not(.btn) { color: #fbfbfc; text-decoration: none; }
a:focus:not(.btn):active, a:hover:not(.btn):active { color: #b4b8c4 }
a:active { background-color: transparent }

h2 { font-size: 1.2em; }

table { max-width: 100%; background-color: transparent; }

th { font-weight: 400; text-align: left; }

@import 'controls';
@import 'media';

.container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1330px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

#app {

	> .container {
		width: auto;
		min-width: 610px;
		padding-left: 20px;

		.top-header {
			padding: 10px 0 20px 0;
			border-bottom: 1px solid #333333;

			h1 {
				font-size: 1.8em;
				color: #84bd00;
			}
		}

		.pf-app {
			padding: 15px 0 15px 0;
		}

		.pf-nav { padding: 0; }

		.pf-playlist-view { overflow-y: auto; }

	}

}
